{% extends "description.j2" %}
{% block content %}
rpc {{ name }}({% if request_stream %}stream {% endif %}{{ request_type }}) returns ({% if response_stream %}stream {% endif %}{{ response_type }}) {
{% for opt in options %}
  option {{ opt }};
{% endfor %}
}
{% endblock %}
