{% extends "description.j2" %}
{% block content %}

syntax = "proto{{ version if version else '3' }}";

{% block imports %}
{% for imp in imports or [] %}
import "{{ imp }}";
{% endfor %}
{% endblock %}

{% if package %}package {{ package }};{% endif %}

{% block options %}
{% for opt in options %}
option {{ opt }};
{% endfor %}
{% endblock %}

{% block blocks %}
{% for block in blocks %}
{{ block }}
{% endfor %}
{% endblock %}

{% endblock %}
