{# macros.j2 #}

{% macro render_description(description) -%}
    {%- if description %}
    // {{ description }}
    {%- endif %}
{%- endmacro %}

{% macro render_options(options) -%}
    {%- for opt in options %}
    option {{ opt }};
    {%- endfor %}
{%- endmacro %}

{% macro render_reserved(reserveds) -%}
    {%- if reserveds[0] %}
    reserved {{ reserveds[0] }};
    {%- endif %}
    {%- if reserveds[1] %}
    reserved {{ reserveds[1] }};
    {%- endif %}
{%- endmacro %}

{% macro render_field(field) -%}
{{ render_description(field.description) }}
{%- if field.ftype %}{{ field.ftype }} {% endif %}{{ field.name }} = {{ field.number }}
{%- if field.options %} [{{ field.options | join(', ') }}]{% endif %};
{%- endmacro %}

{% macro render_method(method) -%}
{{ render_description(method.description) }}
rpc {{ method.name }}({% if method.request_stream %}stream {% endif %}{{ method.request_type }})
returns ({% if method.response_stream %}stream {% endif %}{{ method.response_type }}) {
{{ render_options(method.options) }}
}
{%- endmacro %}

{% macro render_block(block) -%}
{{ render_description(block.description) }}
{{ block.block_type }} {{ block.name }} {
{{ render_options(block.options) }}
{{ render_reserved(block.reserveds) }}

    {%- if block.block_type == 'service' %}
        {%- for method in block.fields %}
        {{ render_method(method) }}
        {%- endfor %}
    {%- else %}
        {%- for field in block.fields %}
            {%- if field.block_type == 'oneof' %}
    {{ render_description(field.description) }}
    oneof {{ field.name }} {
                {%- for subfield in field.fields %}
        {{ render_field(subfield) }}
                {%- endfor %}
    }
            {%- else %}
    {{ render_field(field) }}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
}
{%- endmacro %}
