{# protofile.j2 #}
{%- from "macros.j2" import render_options, render_description -%}
// {{ modulename }}
{% if description %}
{{ render_description(description) }}
{% endif -%}
syntax = "proto{{ version if version else '3' }}";
{% if imports %}
{%- for imp in imports %}
import "{{ imp }}";
{% endfor %}
{% endif -%}

{% if package %}
package {{ package }};
{% endif %}

{%- if options %}
{{ render_options(options) }}
{% endif -%}
{%- for field in fields %}
{{ field }}
{%- endfor %}
